
<MyMapper namespace="pers.pandora.mapper.EntityMapper">
  <select id="queryForOne" resultType="pers.pandora.bean.Entity">
     select * from download where id = #{id}
  </select>
    <!--gt #{id} and deptno lt #{no}-->
    <select id="queryForList" resultType="pers.pandora.bean.Entity">
        select * from download where id in(#{id},#{no})
    </select>
    <insert id="insert">
        insert into download value(null,#{dname},#{db_source})
    </insert>
    <delete id="delete">
        delete from download where id in (#{id1},#{id2})
    </delete>
    <update id="updateD">
        update download set fileName = #{filename} where id = #{id}
    </update>
    <select id="queryForEntity" resultType="pers.pandora.bean.Entity">
        select * from download where id = #{id} and fileName= #{filename}
    </select>
</MyMapper>