<MyMapper namespace="pers.pandora.test.mapper.ArticleMapper">
	<!--You can use {lt, gt, le, ge} to indicate the size relationship, and use it with the return value of list-->
	<!--如gt #{id} and deptno lt #{no}-->
	<!--Note: if the parameter defined in the mapper is an entity class, then #{no} corresponds to the attribute name in the parameter entity class. Otherwise, it can be named arbitrarily-->
	<select id="queryForOne" resultType="pers.pandora.test.Article">
		select * from article where id=#{id}
 	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into article value(null,#{pid},#{rootid},#{title},#{cont},#{pdate},#{isleaf},#{counter},#{reply},#{img},#{register},#{userName},#{unread},#{spec},#{locker},#{question},#{answer})
	</insert>
	<delete id="deleteById">
		delete from article where id=#{id}
	</delete>
	<update id="update">
		update article set pid=#{pid},rootid=#{rootid},title=#{title},cont=#{cont},pdate=#{pdate},isleaf=#{isleaf},counter=#{counter},reply=#{reply},img=#{img},register=#{register},userName=#{userName},unread=#{unread},spec=#{spec},locker=#{locker},question=#{question},answer=#{answer} where id=#{id}
	</update>
</MyMapper>