<MyMapper namespace="pers.pandora.test.mapper.DownloadMapper">
	<!--You can use {lt, gt, le, ge} to indicate the size relationship, and use it with the return value of list-->
	<!--如gt #{id} and deptno lt #{no}-->
	<!--Note: if the parameter defined in the mapper is an entity class, then #{no} corresponds to the attribute name in the parameter entity class. Otherwise, it can be named arbitrarily-->
	<select id="queryForOne" resultType="pers.pandora.test.Download">
		select * from download where id=#{id}
 	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into download value(null,#{fileName},#{path},#{time},#{upper})
	</insert>
	<delete id="deleteById">
		delete from download where id=#{id}
	</delete>
	<update id="update">
		update download set fileName=#{fileName},path=#{path},time=#{time},upper=#{upper} where id=#{id}
	</update>
</MyMapper>