<MyMapper namespace="pers.pandora.test.mapper.UserMapper">
	<!--You can use {lt, gt, le, ge} to indicate the size relationship, and use it with the return value of list-->
	<!--如gt #{id} and deptno lt #{no}-->
	<!--Note: if the parameter defined in the mapper is an entity class, then #{no} corresponds to the attribute name in the parameter entity class. Otherwise, it can be named arbitrarily-->
	<select id="queryForOne" resultType="pers.pandora.test.User">
		select * from user where id=#{id}
 	</select>
	<insert id="insert" useGeneratedKeys="true" keyProperty="id">
		insert into user value(null,#{userName},#{stars},#{forbid},#{msg},#{address},#{pd},#{img},#{cdate},#{follow},#{collect},#{active},#{sex})
	</insert>
	<delete id="deleteById">
		delete from user where id=#{id}
	</delete>
	<update id="update">
		update user set userName=#{userName},stars=#{stars},forbid=#{forbid},msg=#{msg},address=#{address},pd=#{pd},img=#{img},cdate=#{cdate},follow=#{follow},collect=#{collect},active=#{active},sex=#{sex} where id=#{id}
	</update>
</MyMapper>